.order_head{
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
}
.order_body{
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
}
.order_head>button,.order_body>button{
    padding: 5px 10px;
    border-radius: 4px;
    font-size: 14px;
    border: none;
    background-color: #0D6FB8;
    color: #ffffff;
    position: relative;
    top: 2px;
    margin-left: 10px;
}
.order_head>button:hover,.order_body>button:hover{
    background-color: #1B93EF;
}
.order_head>button:active,.order_body>button:active{
    background-color: #0D6FB8;
}
.order_foot{
    width: 100%;
    height: calc(100% - 100px);
    padding: 10px;
    box-sizing: border-box;
}
.order_foot_table{
    display:block;
    width: 100%;
    height: calc(100% - 40px);
    border-collapse: collapse;
}
.order_foot_thead{
    display:table;
    width:100%;
    table-layout:fixed;
    border-collapse: collapse;
}
.order_foot_thead>tr>th{
    height: 40px;
    background-color: #f0f0f0;
    border: 1px #a4a4a4 solid;
    font-size: 14px;
}
.order_foot_tbody{
    display:block;
    width: 100%;
    height: 100%;
    overflow-y: auto;
    overflow-x: hidden;
    border-bottom: 1px #a4a4a4 solid;
    border-right: 1px #a4a4a4 solid;
    border-left: 1px #a4a4a4 solid;
    box-sizing: border-box;
}
.order_foot_tbody>tr{
    display:table;
    width:100%;
    table-layout:fixed;
    border-collapse: collapse;
}
.order_foot_tbody>tr:nth-child(even){
    background-color: #f0f0f0;
}
.order_foot_tbody>tr>td:nth-child(1){
    border-left: none;
}
.order_foot_tbody>tr>td{
    height: 40px;
    text-align: center;
    border: 1px #a4a4a4 solid;
    border-top: none;
    font-size: 14px;
}
.order_foot_tbody>tr>td>input[type='date']{
    width: 100%;
    height: 100%;
    border: none;
}
.order_foot_tbody>tr>td>input[type='date']::-webkit-clear-button{display: none;}
.order_foot_tbody>tr>td>input[type='date']::-webkit-inner-spin-button {display: none;}
.order_foot_tbody>tr>td>input[type='date']::-ms-clear{display: none;}
.order_foot_tbody>tr>td>input[type='number']{
    width: 100%;
    height: 100%;
    border: none;
    text-align: center;
    -moz-appearance: textfield;
}
.order_foot_tbody>tr>td>input[type='number']::-webkit-inner-spin-button {display: none;}
.order_foot_tbody>tr>td>button{
    padding: 2px 5px;
    margin-bottom: 5px;
    margin-top: 5px;
    border-radius: 4px;
    background-color: #ffffff;
    border: 1px #dc3545 solid;
    color: #dc3545;
    font-size: 14px;
    box-sizing: border-box;
    transition: 0.2s;
}
.order_foot_tbody>tr>td>button:hover{
    background-color: #dc3545;
    color: #ffffff;
}
.order_foot_tbody>tr>td>button:first-child{
    margin-bottom: 0;
    color: #28a745;
    background-color: #ffffff;
    border: 1px #28a745 solid;
}
.order_foot_tbody>tr>td>button:first-child:hover{
    background-color: #28a745;
    color: #ffffff;
}